name: Deploy Site
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions/checkout@v4
        with:
          repository: HactarCE/Hyperspeedcube
          ref: gh-pages
          path: docs/hyperspeedcube
      - uses: actions/checkout@v4
        with:
          repository: Hypercubers/sphenic-biaxe
          ref: gh-pages
          path: docs/sphenic-biaxe
      - uses: actions/checkout@v4
        with:
          repository: henryduke/circleguy
          ref: gh-pages
          path: docs/circleguy
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install -r requirements.txt
      - name: Deploy Files
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "actions@github.com"
          mkdocs gh-deploy --force
