name: Deploy Site
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - uses: actions/checkout@v3
      with:
        repository: HactarCE/Hyperspeedcube
        ref: gh-pages
        path: docs/hyperspeedcube
    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install -r requirements.txt
    - name: Deploy Files
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "actions@github.com"
        mkdocs gh-deploy --force
